#social span,
#menu_bio,#menu_evi,#menu_item,#menu_cont{
    display: none;
}
/* ================================ Fade In effect ======================================== */
.fade-in-section {
    opacity: 0;
    transition: opacity 3s ease;
}
.fade-in {
    opacity: 1;
}

/* ================================ Hover Line effect ======================================== */
.menu_principal a{
	position: relative;
	display: inline-block;
    transition: all .3s;
    cursor: pointer;
}
.menu_principal a::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	transition: width 0.5s;
}
.menu_principal a:hover::after{
	width: 100%;
}