/* ==============================================================================================================================================================================================
** Estilos para Escritorio
** (ancho mayor o igual a 1024px)
*/
@media screen and (min-width: 1024px) {
	.caja_desplegable{
		width: 70vw;
	}
	/* "Banner" del sitio */
	.banner_principal,
	.container{
		min-height: 100%;
	}
	/* Menu social */
	.menu_social{
		padding: 2% 5%;
	}
	.menu_social span{
		display: none;
	}
	/* Alto de las secciones "biografia" y "evidencias" */
	#biografia,
	#evidencias{
		min-height: 100vh;
	}
}
/* ==============================================================================================================================================================================================
** Estilos para dispositivos Móviles
** (ancho menor o igual a 1023px)
*/
@media screen and (max-width: 1023px) {
	h1{
		margin-bottom: 1em;
	}
	h1, h2{
		font-size: 200%;
	}
	nav{
		font-size: 180%;
	}
	.caja_desplegable{
		width: 100%;
		font-size: 120%;
	}
	#biografia,
	#evidencias,
	#social{
		font-size: 180%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#evidencias button{
		font-size: 180%;
	}
	/* "Banner" del sitio */
	.banner_principal,
	.container{
		min-height: 30vh;
	}
	/* Menu social */
	.menu_social{
		padding: 5%;
	}
	/* Alto de las secciones "biografia" y "evidencias" */
	#biografia,
	#evidencias{
		min-height: 50vh;
	}
}