/* ==============================================================================================================================================================================================
** Css central para la identidad del sitio
** "norellana.laboratoriodiseno.cl".
** by: melrin
** v2.0
*/
body{
	font-family: "Platypi", serif;
	font-optical-sizing: auto;
	font-style: normal;
	transition: all 0.5s;
}
main{
	transition: all 0.5s;
	position: absolute;
	/*z-index: 999;*/
	padding: 0% 10% 10% 10%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
button{
	border: none !important;
}
/* ==============================================================================================================================================================================================
** Menú Principal del sitio
*/
nav{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	/*z-index: 9999;*/
}
.menu_principal{
	display: flex;
	align-items: center;
	padding: 2% 5%;
	margin: 0;
	height: 10vh;
}
.menu_principal a{
	text-decoration: none;
	margin: 0 1em;
}
#modo_oscuro_btn{
	margin-left: auto;
	font-size: 150%;
}
#modo_oscuro,
#modo_claro{
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
}
#modo_oscuro img{
	width: 1.5em;
}
#modo_claro img{
	width: 1em;
}
/* ==============================================================================================================================================================================================
** Menú social
*/
.lista_evidencias li,
.menu_social li,
.menu_social button,
.menu_social a{
	transition: all 0.5s;
	cursor: pointer;
}
.lista_evidencias p{
	align-items: center;
}
.menu_social{
	display: flex;
	justify-content: center;
	margin: 0;
}
.menu_social button,
.menu_social a{
	width: 4.5em;
	height: 3em;
	margin: 0;
	font-size: 150%;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: none;
}
.menu_social i{
	font-size: 150%; }
/* ==============================================================================================================================================================================================
** Secciones principales
*/
#biografia,
#evidencias{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
#evidencias,
#social{
	text-align: center;
}
/* ==============================================================================================================================================================================================
** Biografia
*/
#biografia{
	padding: 10% 20%;
}
/* ==============================================================================================================================================================================================
** Evidencias
*/
#evidencias{
	padding: 10% 0;
}
.lista_evidencias{
	padding: 0;
}
.lista_evidencias li{
	margin: 2em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.lista_evidencias li,
.lista_evidencias button{
	transition: all 1s;
	text-decoration: none;
}
.caja_desplegable{
	display: flex;
}
.caja_desplegable img{
	width: 10em;
}
.contenido_caja_desplegable{
	text-align: start;
	display: flex;
	flex-direction: column;
	padding: 3% 0 3% 5%;
}
.contenido_caja_desplegable a{
	margin-top: auto;
}
.caja_desplegable article{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contenido_caja_desplegable article span{
	width: 50%;
	display: flex;
	flex-direction: column;
}
#evidencias .contenido_caja_desplegable .boton_custom_1{
	width: fit-content;
}
/* ==============================================================================================================================================================================================
** social
*/
#social{
	padding: 10% 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
#contacto .modal-body{
	display: flex;
	flex-direction: column;
}
#contacto label{
	margin-top: 1em;
}
.modal-dialog{
	margin-top: 10%;
}

/* ==============================================================================================================================================================================================
** Footer
*/
footer{
	padding: 5%;
}
/* ==============================================================================================================================================================================================
** Sitio en construccion
*/
.sitio_en_construccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.sitio_en_construccion img{
    height: 1em;
	margin-left: 0.5em;
}
.sitio_en_construccion_titulo{
	display: flex !important;
	font-size: 250%;
	font-weight: bolder;
}
/* Estilos para la barra de desplazamiento */
/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
	transition: all 0.3s;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la pista de la barra de desplazamiento */
	transition: all 0.3s;
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar de la barra de desplazamiento */
	transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar de la barra de desplazamiento cuando se pasa el mouse */
	transition: all 0.3s;
}
